.cssImage {
    view-transition-name: css;
    contain: paint;
}
.htmlImage {
    view-transition-name: html;
    contain: paint;
}
.jsImage {
    view-transition-name: js;
    contain: paint;
}
.tsImage {
    view-transition-name: ts;
    contain: paint;
}
.nextImage {
    view-transition-name: next;
    contain: paint;
}
.reactImage {
    view-transition-name: react;
    contain: paint;
}
.nodeImage {
    view-transition-name: node;
    contain: paint;
}
.jqueryImage {
    view-transition-name: jquery;
    contain: paint;
}
.linuxImage {
    view-transition-name: linux;
    contain: paint;
}
.playCanvasImage {
    view-transition-name: playCanvas;
    contain: paint;
}
.wordpressImage {
    view-transition-name: wordpress;
    contain: paint;
}
.gasImage {
    view-transition-name: gas;
    contain: paint;
}
.dockerImage {
    view-transition-name: docker;
    contain: paint;
}
.postgresqlImage {
    view-transition-name: postgresql;
    contain: paint;
}
.githubImage {
    view-transition-name: github;
    contain: paint;
}




.wheelFlag1 > .leftContentwheelFlag1 > .left {
    position: relative;
}
.wheelFlag1 > .leftContentwheelFlag1 > .left > .photo{
    border: 1px solid #000;
    height: 100vh;
    width:50vw;
}
.wheelFlag1 > .leftContentwheelFlag1 > .left > .photoDiscribe{
    border: 1px solid #000;
    height: 300px;
    width:500px;
    z-index:2;
}



.wheelFlag1 > .rightContentwheelFlag1 > .right{
    
    height: calc(100vh - 100px);
    position: relative;
}


.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 70px ;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100%;
}

.p{
    border-bottom: 1px solid gray;
    color: gray; 
    margin-bottom:5px;
    padding:5px;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .gridChildren{
    border-radius: 3%;
    height: calc(100%);
    text-align:center;
    width: calc(100%);
    max-height: 200px;
    max-width: 200px;
    min-width: 150px;
    min-height: 150px;
}
.gridChildren img {
    height: calc(75%);
    max-height: 110px;
    max-width: 110px;
    min-height: 110px;
    min-width: 100px;
    width: calc(75%);
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .html{
    background-color: #F2F2F2;

}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .css{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .js{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .ts{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .next{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .react{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .node{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .jquery{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .linux{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .playCanvas{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .wordpress{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .gas{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .docker{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .postgresql{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .github{
    background-color: #F2F2F2;
}

.displayView{
    display: none;
}




@media screen and (max-width:600px){
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid {
        grid-template-columns: repeat(2, 1fr);
    }
    .wheelFlag1 > .rightContentwheelFlag1 > .right{
        width: 100vw;
        overflow-y: scroll;
    }

    .wheelFlag1 > .rightContentwheelFlag1 {
        width: 100vw;
        z-index: 6;
        margin: 0px;    
    }
    .stalker{
        display: none;
    }
    .displayView{
		display: block;
	}
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid{
        padding-top:0px;
    }

}
@media screen and (min-width:1024px) and (max-width:1300px){
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .gridChildren{
        border-radius: 3%;
        height: calc(100%);
        text-align:center;
        width: calc(100%);
        max-height: 200px;
        max-width: 200px;
        min-width: 150px;
        min-height: 150px;
    }
    .gridChildren img{
        width: calc(75%);
        height: calc(75%);
        min-width: 100px;
        min-height: 100px;
        max-height: 100px;
        max-width: 100px;
    }
}
@media screen and (min-width:600px) and (max-width:1024px) {
	.right{
		overflow-y: scroll;
	}
    .headerContent{
        font-size: 16px;
    }
    .wheelFlag1 > .leftContentwheelFlag1 {
        display: none;
    }
    .left{
        width: 100vw;
        background-color: #fff;
        font-size: 30px;
    }
    .left h2{
        font-size: 40px;
    }
    dl dt {
        padding: 25px 1em 0.5em 0.5em;
        position: relative;
        text-align: right;
        width: 8.5em;
    }
    dl dt::after {
        color: green;
        content: 'â—';
        font-size: 30px;
        position: absolute;
        right: -0.55em;
        top: 25px;
    }
    .gridChildren img{
        width: calc(75%);
        height: calc(75%);
        min-width: 130px;
        min-height: 130px;
        max-height: 100px;
        max-width: 100px;
    }
}
@media screen and (max-width:600px) {
        .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .gridChildren{
        border-radius: 3%;
        height: calc(100%);
        text-align:center;
        width: calc(100%);
        max-height: 200px;
        max-width: 200px;
        min-width: 150px;
        min-height: 150px;
    }
    .gridChildren img{
        width: calc(75%);
        height: calc(75%);
        min-width: 100px;
        min-height: 100px;
        max-height: 100px;
        max-width: 100px;
    }
}

/* ipad */
@media screen and (max-width:768px) and (min-width:768px) 
              and (max-height:1024px) and (min-height:1024px){
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    .wheelFlag1 > .rightContentwheelFlag1 > .right{
        width: 100vw;
        overflow-y: scroll;
    }

    .wheelFlag1 > .rightContentwheelFlag1 {
        width: 100vw;
        z-index: 6;
        margin: 0px;    
    }
    .stalker{
        display: none;
    }
    .displayView{
		display: block;
	}
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid{
        padding-top:0px;
        gap:8px;
        padding:15px;
    }
    .displayView{
        font-size: 30px;
        display: none;
    }
    .right{
        margin-top:5px;
    }

}
/* ipad Air*/
@media screen and (max-width:820px) and (min-width:820px) 
              and (max-height:1180px) and (min-height:1180px){
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    .wheelFlag1 > .rightContentwheelFlag1 > .right{
        width: 100vw;
        overflow-y: scroll;
    }

    .wheelFlag1 > .rightContentwheelFlag1 {
        width: 100vw;
        z-index: 6;
        margin: 0px;    
    }
    .stalker{
        display: none;
    }
    .displayView{
		display: block;
	}
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid{
        padding-top:0px;
        gap:8px;
        padding:15px;
    }
    .displayView{
        font-size: 30px;
        display: none;
    }
    .right{
        margin-top:5px;
    }

}

/* ipad Pro*/
@media screen and (max-width:1024px) and (min-width:1024px) 
              and (max-height:1366px) and (min-height:1366px){
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    .wheelFlag1 > .rightContentwheelFlag1 > .right{
        width: 100vw;
        overflow-y: scroll;
    }

    .wheelFlag1 > .rightContentwheelFlag1 {
        width: 100vw;
        z-index: 6;
        margin: 0px;    
    }
    .stalker{
        display: none;
    }
    .displayView{
		display: block;
	}
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid{
        padding-top:0px;
        gap:8px;
        padding:15px;
    }
    .displayView{
        font-size: 30px;
        display: none;
    }
    .right{
        margin-top:5px;
    }
    .gridChildren {
        height: 320px !important;
        width: 320px !important;
    }
    .gridChildren img {
        height: 230px;
        width: 230px;
    }
}

/* surfaceDuo */
@media screen and (max-width:540px) and (min-width:540px) 
              and (max-height:720px) and (min-height:720px){

    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid{
        padding-top:10px;
        gap:8px;
        padding:100px;
    }

}

/* Galaxy Fold */
@media screen and (max-width:280px) and (min-width:280px) 
              and (max-height:653px) and (min-height:653px){

    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid {
        grid-template-columns: repeat(1, 1fr);
    }
    .displayView{
        display: none;
    }
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid{
        padding-top:20px;
    }
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .gridChildren {
        border-radius: 3%;
        height: 200px;
        text-align: center;
        width: 200px;
    }
    .gridChildren img{
        height: 150px;
        width: 150px;
    }
}

/* Galaxy A51/71 */
@media screen and (max-width:412px) and (min-width:412px) 
              and (max-height:914px) and (min-height:914px){

    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid{
        padding-top:0px;
        padding:100px;
    }
}

/* NextHubMAX */
@media screen and (max-width:1280px) and (min-width:1280px) 
              and (max-height:800px) and (min-height:800px){

    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid{
        padding-top:0px;
        padding:100px;
    }
    .wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid {
        align-items: center;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        padding: 50px;
    }
    .gridChildren {
        height: 180px !important;
        width: 180px !important; 
    }
    .gridChildren img{
        height: 130px;
        width: 130px;
    }
    .rightToolTip{
        display: none;
    }
    .right{
        overflow-y: scroll;
    }
}


