.days{
	/* height: 150px; */
	justify-content:center;
	width: 100%;
	position: relative;
}

.days:hover{
	
	background-color: #fff;
	cursor: pointer;
   /* transition-duration: .5s; */
}
.day201211:hover:after,
.day201212:hover:after,
.day201301:hover:after,
.day201303:hover:after,
.day201304:hover:after,
.day201305:hover:after,
.day201401:hover:after,
.day201402:hover:after,
.day201501:hover:after,
.day201801:hover:after,
.day201807:hover:after,
.day201808:hover:after,
.day201809:hover:after,
.day201909:hover:after,
.day202007:hover:after,
.day202111:hover:after,
.day202112:hover:after,
.day202203:hover:after,
.day202205:hover:after,
.day202206:hover:after,
.day202207:hover:after,
.day202210:hover:after,
.day202211:hover:after,
.day202212:hover:after,
.day202307:hover:after,
.day202308:hover:after,
.day202309:hover:after,
.day202310:hover:after,
.day202311:hover:after,
.day202312:hover:after,
.day202312kara:hover:after{
	content: '';
	position: absolute;
    width:30px;
	height:30px;
	top:150px;
	right: 0px;
	z-index: 1000;
	border-radius: 50%;
	box-shadow: 15px -15px 0 #fff;
	transition-duration: .5s;
}
.day201211:hover:before,
.day201212:hover:before,
.day201301:hover:before,
.day201303:hover:before,
.day201304:hover:before,
.day201305:hover:before,
.day201401:hover:before,
.day201402:hover:before,
.day201501:hover:before,
.day201801:hover:before,
.day201807:hover:before,
.day201808:hover:before,
.day201809:hover:before,
.day201909:hover:before,
.day202007:hover:before,
.day202111:hover:before,
.day202112:hover:before,
.day202203:hover:before,
.day202205:hover:before,
.day202206:hover:before,
.day202207:hover:before,
.day202210:hover:before,
.day202211:hover:before,
.day202212:hover:before,
.day202307:hover:before,
.day202308:hover:before,
.day202309:hover:before,
.day202310:hover:before,
.day202311:hover:before,
.day202312:hover:before,
.day202312kara:hover:before{
	content: '';
	position: absolute;
    width:30px;
	height:30px;
	top:-30px;
	right: 0px;
	z-index: 1000;
	border-radius: 50%;
	box-shadow: 15px 15px 0 #fff;
	transition-duration: .5s;
}


.days dt{
	font-weight: 600;
}
.left{
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.leftH1Title{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	font-size: 20px;
	margin-left:30px;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	background-color: #fff;
}
dl {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
dl dt {
	
	text-align: right;
	width: 8.5em;
	padding: 0.5em 1.0em 0.5em 0.5em;
	position: relative;
}

dl dt::after {
	content: 'â—';
	position: absolute;
	right: -0.55em;
	top: 5px;
	font-size: 22px;
	color: green;
}

dl dd {
	width: calc(100% - 8.5em);
	padding: 0.5em 2.0em 3.0em;
	border-left: 2px solid #ccc;
}
dl dd h2 {
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 5px;
}
.day202312kara dd{
	height: 100%;
}
.timeline{
	position: absolute;
	top:0px;
	width:100%;
	height: calc(0% - 100px);
	animation-name: fadeInAnime;
	animation-timing-function:ease;
	animation-delay: 0.5s;
	animation-duration:1s;
}
@keyframes fadeInAnime{
	0% {
	  opacity: 0;
	}
  
	100% {
	  opacity: 1;
	}
  }
.dli-chevron-up{
	display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(25%) rotate(-45deg);
}
.upArrow{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: center;
}
.dli-chevron-down{
	display: inline-block;
	vertical-align: middle;
	color: #333;
	line-height: 1;
	width: 1rem;
	height: 1rem;
	border: 0.1rem solid currentColor;
	border-left: 0;
	border-bottom: 0;
	box-sizing: border-box;
	transform: translateY(-25%) rotate(135deg);
}
.downArrow{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: center;
}
@media screen and (max-width:600px) {
	.days dt{
		width: 100%;
		text-align: left;
	}
	dl dt::after{
		content:'';
	}
	dl dd{
		width: 100%;
	}
	.wheelFlag1 > .leftContentwheelFlag1{
		background-color: #fff;
		display: none;
		width: 100%;
	}
	.left{
		overflow-y: scroll;
	}

}
