.cssImage {
    view-transition-name: css-1;
    contain: paint;
}
.htmlImage {
    view-transition-name: html-2;
    contain: paint;
}



.wheelFlag1 > .leftContentwheelFlag1 > .left {
    position: relative;
}
.wheelFlag1 > .leftContentwheelFlag1 > .left > .photo{
    border: 1px solid #000;
    height: 100vh;
    width:50vw;
}
.wheelFlag1 > .leftContentwheelFlag1 > .left > .photoDiscribe{
    border: 1px solid #000;
    height: 300px;
    width:500px;
    z-index:2;
}



.wheelFlag1 > .rightContentwheelFlag1 > .right{
    
    height: 100vh;
    position: relative;
}

.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid{
    display:flex;
    flex-wrap:wrap;
    gap: 20px 20px;
    padding: 50px 60px 60px 60px ;
}

.p{
    border-bottom: 1px solid gray;
    color: gray; 
    margin-bottom:5px;
    padding:5px;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .gridChildren{
    border-radius: 3%;
    height: 150px;
    text-align:center;
    width: 150px;
    
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .html{
    background-color: #F2F2F2;

}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .css{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .js{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .ts{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .next{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .react{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .node{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .jquery{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .linux{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .playCanvas{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .wordpress{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .gas{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .docker{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .postgresql{
    background-color: #F2F2F2;
}
.wheelFlag1 > .rightContentwheelFlag1 > .right > .rightIconGrid > .github{
    background-color: #F2F2F2;
}

