    /* コーディング規約に従ってコメントを入れる */
    /* 共通のスタイル */
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    @font-face{
      font-family: Togalite-Bold;
      src:url(../font/NotoSerifJP-Black.otf)
    }
    body{
      font-family: Togalite-Bold;
      margin: auto;
    }


    main {
      height:100vh;
      width: 100vw;
    }
    
    .top{
      font-size:25rem;
      height:100vh;
      line-height : 25rem;  
      text-align: center;
      width: 100vw;
    }
  
