.wheelFlag1 > .leftContentwheelFlag1 > .left {
    position: relative;
}
.wheelFlag1 > .leftContentwheelFlag1 > .left > .photo{
    border: 1px solid #000;
    height: 100vh;
    width:50vw;
}
.wheelFlag1 > .leftContentwheelFlag1 > .left > .photoDiscribe{
    border: 1px solid #000;
    height: 300px;
    width:500px;
    z-index:2;
}