#twoSliderParent{
    align-items: center;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 30px;
    justify-content: center;
    
    
}

#twoCards{
    align-items: center;
    display: grid;
    font-size: clamp(0.8rem, 1vw, 1rem);
    gap:10px; 
    grid-template-columns: 300px 300px 300px ; 
    grid-template-rows: 50px 1fr 100px; 
    justify-content: center;
    padding:10px;
    
}

.twoCard{
    align-items: center;
    /* border:  1px solid #000; */
    background-color: #f2f2f2;
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;
    justify-content: center;
  
}
.twoCardTitle{
    padding:10px;
}
.discribeEl{
    padding:10px;
}