.ddClass::before {
    content: '●';
    position: absolute;
    font-size: 10px;
    left: -5px; 
    top: 5px;
}

.ddClass {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
    list-style: none;
}
.green {
    color:green
 }
.active {
   color:red;
}
.activeClick{
    color:yellow;
}

.noactive{
    /* opacity: 0.5; */
}

.activeYellow{
    color: yellow;
}

.ddClass a{
    text-decoration: none;
    color: black;
}

html {
    scroll-padding-top: 30px;
    scroll-behavior: smooth;
}
