.headerContent a{
    text-decoration: none;
    color:black;
}
.headerContent a:hover{
    text-decoration: underline;
    animation: underlineAnimation 1s ease-in-out infinite;
    font-weight: bold;
}

@keyframes underlineAnimation {
    0% { text-decoration-color: transparent; }
    50% { text-decoration-color: inherit; }
    100% { text-decoration-color: transparent; }
}

.ddClass::before {
    content: '●';
    position: absolute;
    font-size: 10px;
    left: -5px; 
    top: 5px;
}

.ddClass {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
    list-style: none;
}

.green {
    color:green
 }
.active {
   color:red;
}
.activeClick{
    color:yellow;
}

.activeYellow{
    color: yellow;
}

.ddClass a{
    text-decoration: none;
    color: black;
}
.ddClass a:hover{
    text-decoration: underline ;
    animation: underlineAnimation 1s ease-in-out infinite;
    font-weight: bold;
}


html {
    scroll-padding-top: 30px;
    scroll-behavior: smooth;
}
